@page "/adddinner"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@using DinnerMe.Model

<h3>Add Dinner</h3>

<div>
    <EditForm EditContext=@editContext OnValidSubmit=Add>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-field">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="newDinner.name" />
            </div>
        </div>

        <div class="form-field">
            <label>Description:</label>
            <div>
                <InputText @bind-Value="newDinner.description" />
            </div>
        </div>

        <div class="form-field">
            <label>Method:</label>
            <div>
                <InputTextArea @bind-Value="newDinner.method" />
            </div>
        </div>

        <div class="form-field">
            <label>Notes:</label>
            <div>
                <InputTextArea @bind-Value="newDinner.notes" />
            </div>
        </div>

        <div>
            <div>
                <div>
                    <label>Add ingredient:</label>
                    <InputText @bind-Value="searchIngredientName" @oninput="SearchIngredients" />
                    @if (selectedIngredient != null && !string.IsNullOrEmpty(selectedIngredient.name))
                    {
                        <input type="number" step="any" min="0" placeholder=@selectedIngredientMeasurement @bind="ingredientQuantity" />
                        <button type="button" @onclick="AddSelectedIngredient">Add Ingredient</button>
                    }
                </div>
                @if (matchingIngredients != null && matchingIngredients.Any())
                {
                    <ul>
                        @foreach (var ingredient in matchingIngredients)
                        {
                            <li style="list-style-type: none;">
                                <span style="cursor:pointer" @onclick="() => SelectIngredient(ingredient)">
                                    <strong>+</strong> @ingredient.name
                                </span>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        <div>
            <label>Added Ingredients:</label>
            <ul>
                @foreach (var mealIngredient in newDinner.ingredients)
                {
                    string measurement = "";
                    // If we're using a unit of measurement other than Quantity (whole numbers), display the unit
                    if (mealIngredient.ingredient.measurement != Ingredient.UnitOfMeasurement.Quantity)
                    {
                        measurement = $" - {mealIngredient.ingredient.measurement}";
                        // Trim the plural 's' character if quantity is one
                        if (mealIngredient.quantity == 1)
                        {
                            measurement = measurement.Substring(0, measurement.Length - 1);
                        }
                    }
                    <li>@mealIngredient.ingredient.name - @mealIngredient.quantity @measurement</li>
                }
            </ul>
        </div>

        <div class="form-field">
            <label>New Ingredient Name:</label>
            <InputText @bind-Value="newIngredientName" />
        </div>

        <div class="form-field">
            <label>Measurement Type:</label>
            <select @bind="newIngredientMeasurement">
                @foreach (var measurementType in Enum.GetValues(typeof(Ingredient.UnitOfMeasurement)))
                {
                    <option value="@measurementType">@measurementType.ToString()</option>
                }
            </select>
        </div>

        <button type="button" @onclick="CreateIngredient">Create Ingredient</button>

        <div class="form-group">
            <label for="body">Select categories: </label>

            @foreach (var category in categories)
            {
                <InputCheckbox @bind-Value=category.selected />
                @category.name
            }

            <div>
                <label>New Category Name:</label>
                <InputText @bind-Value="newCategoryName" />
                <button type="button" @onclick="AddCategory">Create Category</button>
            </div>
        </div>

        <button type="Submit">
            Add dinner
        </button>

    </EditForm>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error-message">@errorMessage</div>
    }
</div>

@code {
    private EditContext editContext;
    private Dinner newDinner = new Dinner();
    private List<Category> categories = new();
    private string newCategoryName;
    private string errorMessage;

    private string searchIngredientName;
    private Ingredient selectedIngredient;
    private string selectedIngredientMeasurement;
    private List<Ingredient> matchingIngredients = new List<Ingredient>();

    private string newIngredientName;
    private Ingredient.UnitOfMeasurement newIngredientMeasurement;

    private List<Ingredient> ingredients;

    private decimal? ingredientQuantity = null;

    private async Task CreateIngredient()
    {
        if (!string.IsNullOrWhiteSpace(newIngredientName))
        {
            var newIngredient = new Ingredient { name = newIngredientName, measurement = newIngredientMeasurement };
            var response = await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}dinners/addingredient", newIngredient);
            if (!response.IsSuccessStatusCode)
            {
                // Handle error
                errorMessage = "ERROR: Failed to add ingredient. Response: " + await response.Content.ReadAsStringAsync();
            }

            // Reload ingredients
            await LoadIngredients();


            // Clear the fields after creating the ingredient
            newIngredientName = string.Empty;
            newIngredientMeasurement = Ingredient.UnitOfMeasurement.Quantity;
        }
    }

    private async Task SearchIngredients(ChangeEventArgs e)
    {
        string searchTerm = e.Value?.ToString();
        if (!string.IsNullOrEmpty(searchTerm))
        {
            matchingIngredients = ingredients.Where(i => i.name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        else
        {
            matchingIngredients.Clear();
        }
    }

    private void SelectIngredient(Ingredient ingredient)
    {
        selectedIngredient = ingredient;
        selectedIngredientMeasurement = ingredient.measurement.ToString();
        // We set this so that the search field is populated with the selected ingredient
        searchIngredientName = selectedIngredient.name;
    }

    private void AddSelectedIngredient()
    {
        // Could use either searchIngredientName or selectedIngredient.name here
        if (!string.IsNullOrEmpty(searchIngredientName) && ingredientQuantity.HasValue)
        {
            var mealIngredient = new MealIngredient
                {
                    ingredient = selectedIngredient,
                    quantity = (decimal)ingredientQuantity
                };
            newDinner.ingredients.Add(mealIngredient);
            searchIngredientName = string.Empty; // Clear the search ingredient field after adding
            ingredientQuantity = null; // Clear the quantity field after adding
            selectedIngredient = null; // Clear the selected ingredient
            matchingIngredients.Clear(); // Matching ingredients should now be cleared
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
        await LoadIngredients();
    }

    protected override void OnInitialized()
    {
        editContext = new EditContext(newDinner);

        base.OnInitialized();
    }

    private async Task LoadCategories()
    {
        categories = await HttpClient.GetFromJsonAsync<List<Category>>(NavigationManager.BaseUri + "dinners/getcategories");
    }

    private async Task LoadIngredients()
    {
        ingredients = await HttpClient.GetFromJsonAsync<List<Ingredient>>(NavigationManager.BaseUri + "dinners/getingredients");
    }

    private async Task AddCategory()
    {
        if (!string.IsNullOrWhiteSpace(newCategoryName))
        {
            // Create a new category with the provided name
            var newCategory = new Category { name = newCategoryName, selected = false };
            var response = await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}dinners/addcategory", newCategory);
            if (!response.IsSuccessStatusCode)
            {
                // Handle error
                errorMessage = "ERROR: Failed to add category. Response: " + await response.Content.ReadAsStringAsync();
            }

            // Reload categories
            await LoadCategories();

            newCategoryName = string.Empty; // Clear the input field after adding the category
        }
    }

    private async Task Add()
    {
        // Add selected categories to the dinner
        List<Category> dinner_categories = new();
        foreach (var category in categories)
        {
            if (category.selected)
            {
                dinner_categories.Add(category);
            }
        }
        newDinner.categories = dinner_categories;

        var response = await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}dinners/adddinner", newDinner);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/browsemeals");
        }
        else
        {
            // Handle error
            errorMessage = "ERROR: Failed to add dinner. Response: " + await response.Content.ReadAsStringAsync();
        }
    }
}
