@page "/addmeal/{mealtype}"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@using DinnerMe.Model

<h3>Add @(MealType == "dinner" ? "Dinner" : "Side")</h3>

<div>
    <EditForm EditContext=@editContext OnValidSubmit=Add>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-field">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="newMeal.name" />
            </div>
        </div>

        <div class="form-field">
            <label>Description:</label>
            <div>
                <InputText @bind-Value="newMeal.description" />
            </div>
        </div>

        <div class="form-field">
            <label>Method:</label>
            <div>
                <InputTextArea @bind-Value="newMeal.method" />
            </div>
        </div>

        <div class="form-field">
            <label>Notes:</label>
            <div>
                <InputTextArea @bind-Value="newMeal.notes" />
            </div>
        </div>

        <div>
            <div>
                <div>
                    <label>Add Ingredient:</label>
                    <InputText @bind-Value="searchIngredientName" @oninput="SearchIngredients" />
                    @if (selectedIngredient != null && !string.IsNullOrEmpty(selectedIngredient.name))
                    {
                        <input type="number" step="any" min="0" placeholder=@selectedIngredientMeasurement @bind="ingredientQuantity" />
                        <button type="button" @onclick="AddSelectedIngredient">Add Ingredient</button>
                    }
                </div>
                @if (matchingIngredients != null && matchingIngredients.Any())
                {
                    <ul>
                        @foreach (var ingredient in matchingIngredients)
                        {
                            <li style="list-style-type: none;">
                                <span style="cursor:pointer" @onclick="() => SelectIngredient(ingredient)">
                                    <strong>+</strong> @ingredient.name
                                </span>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        @if (newMeal.ingredients.Any())
        {
            <div>
                <label>Added Ingredients:</label>
                <ul>
                    @foreach (var mealIngredient in newMeal.ingredients)
                    {
                        string measurement = "";
                        // If we're using a unit of measurement other than Quantity (whole numbers), display the unit
                        if (mealIngredient.ingredient.measurement != Ingredient.UnitOfMeasurement.Quantity)
                       {
                            measurement = $" {mealIngredient.ingredient.measurement}";
                            // Trim the plural 's' character if quantity is one
                            if (mealIngredient.quantity == 1)
                            {
                                measurement = measurement.Substring(0, measurement.Length - 1);
                            }
                        }
                        <li>@mealIngredient.ingredient.name - @mealIngredient.quantity @measurement</li>
                    }
                </ul>
            </div>
        }

        <div class="form-field">
            <label>New Ingredient Name:</label>
            <InputText @bind-Value="newIngredientName" />
        </div>

        <div class="form-field">
            <label>Measurement Type:</label>
            <select @bind="newIngredientMeasurement">
                @foreach (var measurementType in Enum.GetValues(typeof(Ingredient.UnitOfMeasurement)))
                {
                    <option value="@measurementType">@measurementType.ToString()</option>
                }
            </select>
        </div>

        <button type="button" @onclick="CreateIngredient">Create Ingredient</button>

        <div class="form-group">
            <label for="body">Select categories: </label>

            @foreach (var category in categories)
            {
                <InputCheckbox @bind-Value=category.selected />
                @category.name
            }

            <div>
                <label>New Category Name:</label>
                <InputText @bind-Value="newCategoryName" />
                <button type="button" @onclick="AddCategory">Create Category</button>
            </div>
        </div>

        <!-- Add optional sides if this is a dinner -->
        @if (MealType == "dinner")
        {
            <div>
                <div>
                    <div>
                        <label>Add Side:</label>
                        <InputText @bind-Value="searchSideName" @oninput="SearchSides" />
                        @if (selectedSide != null && !string.IsNullOrEmpty(selectedSide.name))
                        {
                            <button type="button" @onclick="AddSelectedSide">Add Side</button>
                        }
                    </div>
                    @if (matchingSides != null && matchingSides.Any())
                    {
                        <ul>
                            @foreach (var side in matchingSides)
                            {
                                <li style="list-style-type: none;">
                                    <span style="cursor:pointer" @onclick="() => SelectSide(side)">
                                        <strong>+</strong> @side.name
                                    </span>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>

            @if (newMeal is Dinner dinner && dinner.sides.Any())
            {
                <div>
                    <label>Added Sides:</label>
                    <ul>
                        @foreach (var side in dinner.sides)
                        {
                            <li>@side.name</li>
                        }
                    </ul>
                </div>
            }
        }

        <button type="Submit">
            Add dinner
        </button>

    </EditForm>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error-message">@errorMessage</div>
    }
</div>

@code {
    [Parameter]
    public string MealType { get; set; } // "dinner" or "side"

    private EditContext editContext;
    private string errorMessage;

    // Set in OnInitialized() depending on MealType
    private Meal newMeal;

    // Category variables
    private List<Category> categories = new();
    private string newCategoryName;

    // Ingredient variables
    private List<Ingredient> ingredients;

    private string searchIngredientName;
    private Ingredient selectedIngredient;
    private string selectedIngredientMeasurement;
    private List<Ingredient> matchingIngredients = new();

    private string newIngredientName;
    private Ingredient.UnitOfMeasurement newIngredientMeasurement;

    private decimal? ingredientQuantity = null;

    // Side variables
    private List<Side> sides;
    private string searchSideName;
    private Side selectedSide;
    private List<Side> matchingSides = new();

    protected override void OnInitialized()
    {
        // Meal is either a dinner or a side depending on the MealType
        if (MealType == "dinner")
        {
            newMeal = new Dinner();
        }
        else if (MealType == "side")
        {
            newMeal = new Side();
        }
        else
        {
            errorMessage = $"ERROR: Programming error, unexpected MealType: {MealType}";
        }

        editContext = new EditContext(newMeal);

        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
        await LoadIngredients();
        await LoadSides();
    }

    private async Task LoadCategories()
    {
        categories = await HttpClient.GetFromJsonAsync<List<Category>>(NavigationManager.BaseUri + "dinners/getcategories");
    }

    private async Task LoadIngredients()
    {
        ingredients = await HttpClient.GetFromJsonAsync<List<Ingredient>>(NavigationManager.BaseUri + "dinners/getingredients");
    }

    private async Task LoadSides()
    {
        sides = await HttpClient.GetFromJsonAsync<List<Side>>(NavigationManager.BaseUri + "dinners/getsides");
    }

    private async Task CreateIngredient()
    {
        if (!string.IsNullOrWhiteSpace(newIngredientName))
        {
            var newIngredient = new Ingredient { name = newIngredientName, measurement = newIngredientMeasurement };
            var response = await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}dinners/addingredient", newIngredient);
            if (!response.IsSuccessStatusCode)
            {
                // Handle error
                errorMessage = "ERROR: Failed to add ingredient. Response: " + await response.Content.ReadAsStringAsync();
            }

            // Reload ingredients
            await LoadIngredients();


            // Clear the fields after creating the ingredient
            newIngredientName = string.Empty;
            newIngredientMeasurement = Ingredient.UnitOfMeasurement.Quantity;
        }
    }

    private async Task SearchIngredients(ChangeEventArgs e)
    {
        string searchTerm = e.Value?.ToString();
        if (!string.IsNullOrEmpty(searchTerm))
        {
            matchingIngredients = ingredients.Where(i => i.name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        else
        {
            matchingIngredients.Clear();
        }
    }

    private void SelectIngredient(Ingredient ingredient)
    {
        selectedIngredient = ingredient;
        selectedIngredientMeasurement = ingredient.measurement.ToString();
        // We set this so that the search field is populated with the selected ingredient
        searchIngredientName = selectedIngredient.name;
    }

    private void AddSelectedIngredient()
    {
        // Could use either searchIngredientName or selectedIngredient.name here
        if (!string.IsNullOrEmpty(searchIngredientName) && ingredientQuantity.HasValue)
        {
            var mealIngredient = new MealIngredient
                {
                    ingredient = selectedIngredient,
                    quantity = (decimal)ingredientQuantity
                };
            newMeal.ingredients.Add(mealIngredient);
            searchIngredientName = string.Empty; // Clear the search ingredient field after adding
            ingredientQuantity = null; // Clear the quantity field after adding
            selectedIngredient = null; // Clear the selected ingredient
            matchingIngredients.Clear(); // Matching ingredients should now be cleared
        }
    }

    private async Task SearchSides(ChangeEventArgs e)
    {
        string searchTerm = e.Value?.ToString();
        if (!string.IsNullOrEmpty(searchTerm))
        {
            matchingSides = sides.Where(i => i.name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        else
        {
            matchingSides.Clear();
        }
    }

    private void SelectSide(Side side)
    {
        selectedSide = side;
        // We set this so that the search field is populated with the selected side
        searchSideName = selectedSide.name;
    }

    private void AddSelectedSide()
    {
        // Could use either searchSideName or selectedSide.name here
        if (!string.IsNullOrEmpty(searchSideName))
        {
            Dinner newDinner = newMeal as Dinner;
            if (newDinner != null)
            {
                newDinner.sides.Add(selectedSide);
                searchSideName = string.Empty; // Clear the search side field after adding
                selectedSide = null; // Clear the selected side
                matchingSides.Clear(); // Matching sides should now be cleared
            }
            else
            {
                errorMessage = $"ERROR: Programming error, expected Dinner object.";
            }
        }
    }

    private async Task AddCategory()
    {
        if (!string.IsNullOrWhiteSpace(newCategoryName))
        {
            // Create a new category with the provided name
            var newCategory = new Category { name = newCategoryName, selected = false };
            var response = await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}dinners/addcategory", newCategory);
            if (!response.IsSuccessStatusCode)
            {
                // Handle error
                errorMessage = "ERROR: Failed to add category. Response: " + await response.Content.ReadAsStringAsync();
            }

            // Reload categories
            await LoadCategories();

            newCategoryName = string.Empty; // Clear the input field after adding the category
        }
    }

    private async Task Add()
    {
        // Add selected categories to the meal
        List<Category> meal_categories = new();
        foreach (var category in categories)
        {
            if (category.selected)
            {
                meal_categories.Add(category);
            }
        }
        newMeal.categories = meal_categories;

        var response = await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}dinners/adddinner", newMeal);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/browsemeals");
        }
        else
        {
            // Handle error
            errorMessage = $"ERROR: Failed to add {MealType}. Response: {await response.Content.ReadAsStringAsync()}";
        }
    }
}
